[[extend 'layout.html']]

[[block page_head]]
<link href="css/codemirror.css" rel="stylesheet">
[[end]]

<div class="components-container">
    <aside>Edit your code here:
    </aside>

    <textarea class="code-input" id="demotext">/* your code here */</textarea>


</div>


[[block page_scripts]]
<script src="js/codemirror.js" type="text/javascript"></script>
<script src="components/codemirror/mode/python/python.js" type="text/javascript"></script>

<script>
var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: 'python'
    });

<!--editor.setOption("mode", "python");-->



</script>

[[end]]