[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}

</style>


<section class="section">
  <h1 class="title">Register a device:</h1>
  [[=form]]
</section>


<!--<div class="content">-->
<!--    <h3 class="selector" align="center">Please cut and paste the device id onto the device itself.</h3>-->
<!--    <div id="qrcodeCanvas" align="center"></div><br>-->
<!--    {{=form}}-->
<!--    {{=A(T('Done'), _class='btn btn-success', _href=URL('default', 'index'), _align='center')}}-->
<!--    <button onclick="test()"></button>-->
<!--</div>-->

