[[extend 'layout.html']]


<section class="section">
    <h1 class="title">All Devices</h1>
    <div class="container">
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>Device Id</th>
                <th>Device Name</th>
                <th>Description</th>
                <th>Device Owner</th>
                <th>Device Added On</th>
                <th></th>
                <th></th>
            </tr>
            [[for row in rows:]]
            <tr>
                <td>[[=row.id]]</td>
                <td>[[=row.device_name]]</td>
                <td>[[=row.description]]</td>
                <td>[[=row.user_email]]</td>
                <td>[[=row.device_added_date]]</td>
                <td>
                    <a class="button" href="[[=URL('edit_product', row.id)]]">
                        <i class="fa fa-fw fa-pencil"></i> Edit
                    </a>
                </td>
                <td>
                    <a class="button" href="[[=URL('delete_product', row.id)]]">
                        <i class="fa fa-fw fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
            [[pass]]
        </table>
    </div>

</section>


